<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <display-name>Web Application</display-name>

<!--  <servlet>-->
<!--    <servlet-name>ru.vyazankin.ShopServlet</servlet-name>-->
<!--    <servlet-class>ru.vyazankin.ShopServlet</servlet-class>-->
<!--  </servlet>-->

<!--  <servlet-mapping>-->
<!--    <servlet-name>ru.vyazankin.ShopServlet</servlet-name>-->
<!--    <url-pattern>/shop</url-pattern>-->
<!--  </servlet-mapping>-->

</web-app>


